.header {
    max-width: 1440px;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    margin-top: 94px;
    margin-bottom: 94px;
    margin-left: 50px;
    margin-right: 50px;
}
/* 94 */
.body {
    max-width: 1440px;
    margin: 0 auto;
}
.header__adress {
    display: flex;
    flex-direction: column;
    color: #000;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
    justify-self: flex-end;
    /* 135% */

}

/* list-style: circle; */
.header__links-list {
    display: flex;
    flex-direction: row;
    list-style: circle;
}

.header__links-list-item {
    margin-right: 32px;
    color: #000;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.header__links-list-item-active {
    list-style: none;
    text-decoration-line: none;
}

.header__links-list-item:last-child {
    margin-right: 0;
}

.header__logo-image {
    width: 148px;
    height: 105px;
    flex-shrink: 0;
    /* margin-left: 209px; */
    /* сделать выравнивание по центру */
}

.adress {
    width: 240px;
    color: #000;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
    /* 135% */
}
/* //////////////////////////// */
.cover {
    max-width: 1440px;
    flex-shrink: 0;
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;

}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    opacity: 0.6;
    background: #000;
    inset: 0;
}

.cover__title {
    display: flex;
    flex-direction: column;
    z-index: 1;
    row-gap: 20px;
    margin-top: 165px;
}

/* h1 {
    display: flex;
    flex-direction: column;
} */

.aligned-text {
    color: #FFF;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
    /* 115px */
    letter-spacing: 30px;
    text-transform: uppercase;
}
.aligned-text:first-child {
    margin-left: 50px;
    margin-right: 50px;
}

.aligned-text_center {
    line-height: 100%;
    text-align: center;
    /* 100px */
    margin-left: 50px;
    margin-right: 50px;
}

.aligned-text_right {
    text-align: right;
    line-height: 100%;
    /* 100px */
    margin-left: 50px;
    margin-right: 50px;
}
.no-letter-spacing {
    letter-spacing: 0;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}
.cover__description {
    display: grid;
    /* Будет создано 3 колонки */
     grid-template-columns: 1fr min-content 1fr;
    /* Будет создано 3 ряда */
    grid-template-rows: auto;
    z-index: 1;
    margin-bottom: 62px;
    grid-template-areas:
        '. cover__description-text bet-button'
}

.cover__description-text {
    grid-area: cover__description-text;
    color: #FFF;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-style: normal;
    margin-top: 147px;
    font-weight: 400;
    line-height: 28px;
    /* 127.273% */
    text-transform: uppercase;
    word-spacing: 17px;
    width: 633px;
    justify-self: center;
}

.bet-button {
    grid-area: bet-button;
    margin-top: 134px;
    color: #FFF;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    border: 1px solid #FFF;
    padding: 12px 32px 12px 32px;
    margin-left: auto;
    margin-right: 50px;
    background-color: rgba(0, 0, 0, 0);
}



.lots {
    max-width: 1440px;
    margin-top: 180px;
}
/* .overlay__cards {
    background: black;
    opacity: 0.6;
    position: absolute;
    z-index: 0;
    width: 430px;
    height: 450px;
    top: 1304;
    left: 50;
} */

.lots__heading {
    color: #000;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 27px;
    margin-left: 90px;
}

.lots__card-list {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    /* height: 450px; */
    flex-wrap: wrap;
}

.lots__card-list-item {
    max-width: 430px;
    min-height: 450px;
    /* height: 450px; */
    margin-right: 25px;
    list-style: none;
    margin-bottom: 30px;

}

.lots__card-list-item:last-child {
    margin-right: 0;
    flex-grow: 1;
}


.card_type_film {
    background-image: url('../images/card-lot-01.jpg');
}


.card__title {
    color: #FFF;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 26.4px */
    text-decoration-line: underline;
    text-transform: uppercase;
    padding-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    z-index: 1;
    width: 350px;
    max-height: 80 ;
}

.card__text {
    color: #FFF;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-left: 40px;
    /* padding-bottom: 50px; */
    /* 24px */
    display: flex;
    z-index: 1;
    max-width: 350px;
    /* min-height: 96px;
    max-height: 240px; */
    align-items: flex-end;
}

.card {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    justify-content: space-between;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 430px;
    min-height: 450px;
}

.card_type_book {
    background-image: url('../images/card-lot-02.jpg');

}

.card_type_picture {
    background-image: url('../images/card-lot-03.jpg');

}

.lots__look-more-link {
    color: #000;
    text-decoration: underline;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 90px;
}

/* .card__text--1 {
    margin-top: 202px;
    height: 96px;   
}

.card__text--2 {
    height: 240px;
    margin-top: 30px;
}

.card__text--3 {
    height: 192px;
    margin-top: 80px;
} */



.about {
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    margin-top: 182px;
    margin-left: 145px;
    margin-right: 50px;
}


.about__column:last-child {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.about__logo {
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
    margin-right: 120px;
}

.about__logo-image {
    width: 148px;
    height: 114px;
    flex-shrink: 0;
    margin-left: 46px;
    margin-top: 63px;
}

.about__title {
    color: #000;

    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.about__text {
    max-width: 885px;
    width: 100%;
    flex-shrink: 0;
    color: #000;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 25px;
}

.about__text:last-child {
    margin-bottom: 0;
}




.footer {
    max-width: 1440px;
    width: 96%;
    display: flex;
    justify-content: space-between;
    margin-top: 180px;
    margin-bottom: 90px;
    margin-left: 50px;
    margin-right: 50px;
}

/* .footer__adress {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 356px;
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
} */


.footer__menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    max-width: 149px;
    width: 100%;
}


.footer__menu-list-item {
    color: #000;
    text-align: center;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}



.footer__menu-link {
    text-decoration: underline;
}
.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    flex-direction: row;
}


.footer__social-link {
    margin-right: 48px;
}

.footer__social-list-item:last-child {
    margin-right: 0;
}

.footer__social-icon {
    width: 48px;
    height: 48px;

}